p{
    font-style: oblique;
    font-size: 40px;
}
a{
    color: grey;
    font-size: 20px;
}
ul {
    list-style-type: none;
    text-align: center
  }
  
  li {
    background-color: #9c3e63;
    border: #D7C8B6 2px solid;
    display: inline;
    margin-right: 250px;
  }
  
  a.bot{
    color: black;
    padding: 20px;

    text-decoration: none;
  }
  
  a:hover {
    background-color: white;
    color: #D7C8B6;
    padding: 20px;
    
  }